.cintactBtn{
    margin-top: 2em;
    background-color: #00C2CC;
    color: white;
}
.contactForm{
    width: 600px;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: 3em;
    
}
.padding-container{
    padding-bottom: 2em;

}