.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/DownloadfreevectorofNeutralsoftabstractwatercolorbackgroundvectorbymarinemyntaboutwallpaperminimalaestheticbackgroundaestheticandtexture2030210.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 513px;
}

.u-section-2 .u-text-1 {
  width: 570px;
  font-size: 2.25rem;
  margin: 35px auto 0;
}

.u-section-2 .u-blog-1 {
  width: 1140px;
  margin: 29px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 375px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-image-1 {
  height: 231px;
  width: 325px;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-2 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

.u-section-2 .u-repeater-item-2 {
  box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-image-2 {
  height: 231px;
  width: 325px;
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-2 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

.u-section-2 .u-repeater-item-3 {
  box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-image-3 {
  height: 231px;
  width: 325px;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 17px 0 0;
}

.u-section-2 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-2 .u-blog-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-item-1 {
    background-size: auto;
  }

  .u-section-2 .u-image-1 {
    height: 195px;
    width: 258px;
  }

  .u-section-2 .u-repeater-item-2 {
    background-size: auto;
  }

  .u-section-2 .u-image-2 {
    height: 195px;
    width: 258px;
  }

  .u-section-2 .u-repeater-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-image-3 {
    height: 195px;
    width: 258px;
  }

  .u-section-2 .u-btn-1 {
    height: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-2 .u-blog-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }

  .u-section-2 .u-image-1 {
    height: 218px;
    width: 309px;
  }

  .u-section-2 .u-image-2 {
    height: 218px;
    width: 309px;
  }

  .u-section-2 .u-image-3 {
    height: 218px;
    width: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1637px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-blog-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 348px;
    width: 480px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 348px;
    width: 480px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 348px;
    width: 480px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 232px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 232px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 232px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}