<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com">

  <title>Contact us</title>


</head>
<body>
  <app-header></app-header>

  <!-- Back to top button -->
  <div class="back-to-top"></div>
  
  <main>
    <div class="page-section">
      <div class="container">
        <div class="row align-items-center">
  
          <div class="col-lg-6 py-3">
            <div class="subhead">Hi there</div>
            <h2 class="title-section">Contact Us</h2>
            <div class="divider"></div>
            <h2 class="conectus">Hello, if there is any question or inquiry, please contact the following <br>e-mail:
              <a class="conectus-email" href="{{'swarIT@connect.sa' | email : 'pre':'mailto:' }}"> swarIT@connect.sa</a>
            </h2>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  </main>
</body>
</html>