<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb-4 mb-lg-0">
          <h2 class="h5 lined text-white mb-4">About</h2>
          <p class="text-muted text-small text-justify">online shopping and delivery to houses service in KSA. We are working cover all the Kingdom.</p>
          <p class="text-muted text-small text-justify">Expanding coverage areas require more time and effort to ensure the highest quality level of provided service. You can browse all supported locations and add your mobile number to be notified every time we expand into new areas.</p>
       
        </div>
        <div class="col-lg-5 mb-4 mb-lg-0 margin-ul">
          <h2 class="h5 text-white lined mb-4">Quick Links</h2>
          <div class="d-flex ">
            <!-- <ul class="list-unstyled d-inline-block mr-4 mb-0">
              <li class="mb-2"><a class="footer-link" href="#">Make appointments </a></li>
              <li class="mb-2"><a class="footer-link" href="#">Doctors team</a></li>
              <li class="mb-2"><a class="footer-link" href="#">Departments services</a></li>
              <li class="mb-2"><a class="footer-link" href="#">About our clinic</a></li>
              <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
            </ul> -->
            <ul class="list-unstyled d-inline-block mb-0 ">
              <li class="mb-2"><a class="footer-link" href="#">Home </a></li>
              <li class="mb-2"><a class="footer-link" href="#">About us</a></li>
              <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
              <li class="mb-2"><a class="footer-link" href="#">About our clinic</a></li>
              <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2">
          <ul class="list-inline mb-0 ">
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-facebook-f"><img class="social-img" src="assets/images/facebook.png"></i></a></li><br>
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-twitter"><img class="social-img" src="assets/images/twitter.png"></i></a></li><br>
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-whatsapp"><img class="social-img" src="assets/images/whatsapp.png"></i></a></li><br>
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-instagram"></i><img class="social-img" src="assets/images/instagram.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyrights">       
      <div class="container text-center py-4">
        <p class="mb-0 text-muted">&copy; 2022, Your company. Template designed by <a href="https://therichpost.com">Angular Bootstrap Temple</a>.</p>
      </div>
    </div>
  </footer>