
  <!-- Departments Section-->
  <section class="departments pb-0 " style="margin-bottom: auto;">
    <div class="container">
      <div class="row ">
        <div class="col-lg-5 d-none d-lg-block">
            <img class="img-fluid img img-1" src="assets/images/idea.png" alt="doctor" >
        </div>
        <div class="col-lg-7 " style="margin-left: auto;">
          <h2 class="text-uppercase  title-1">Healthy <span class="text-primary">online store</span></h2>
          <p class="mb-5 text-justify  text-1"><b>Healthy</b>NDS helps healthcare partners procure thousands of healthcare products from a secure supply chain, at competitive prices, and on a robust and efficient pricing platform. We take great pride in our expertise to responsibly supply health products where there is need—in our local community, within the U.S., and across international borders </p>
        </div>
      </div>

      <div class="row" style="margin-top: 0;">
        <div class="col-lg-7 pb-5 mb-5">
          <h4 class=" lined ">Experience</h4>
          <p class="mb-5 text-justify"> We work collaboratively with healthcare providers and manufacturers to responsibly and transparently move products to where there is need—in our local community, within the U.S., and across international bordersWe have been actively involved in the procurement and distribution of pharmaceuticals since 1998, internationally since 2004</p>
        </div>
        <div class="col-lg-5 d-none d-lg-block">
          <img class="img-fluid img" src="assets/images/goal.png" alt="doctor" height="400">
      </div>
      </div>
    </div>
  </section>
  
 