<div class="account section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login-form border p-5">
            <div class="text-center heading">
              <h3 class="mb-2 h2">Password Recovery</h3>
            </div>
            <div *ngIf="(this.changeSucess && this.submitted)">
              <span class="text" style="color: green;">
              -  Password Changed Succssfuly
               </span>
              
            </div>
            <div *ngIf="(!this.changeSucess && this.submitted)">
              <span class="text" style="color: red;">
              -  Check you write USED EMAIL
               </span>
              
            </div>
            <form action="#" [formGroup]="changPasswordForm" (ngSubmit)="changePassword()" >
              <div class="form-group mb-4">
                <input type="text" class="form-control" placeholder="Enter Email Address" formControlName="email">
                <span class="text-danger"
                  *ngIf="(changPasswordForm.get('email').touched || submitted) && changPasswordForm.get('email').errors?.required">
                  -  Your email is required
                   </span>
              </div>
              <div class="form-group mb-4">
                <label for="#">Change password</label>
                <input type="password" class="form-control" placeholder="Enter new password" formControlName="newPassword">
                <span class="text-danger"
                *ngIf="(changPasswordForm.get('newPassword').touched || submitted) && changPasswordForm.get('newPassword').errors?.required">
                - Password is required
                </span>
                <span class="text-danger"
                    *ngIf="changPasswordForm.get('newPassword').touched && changPasswordForm.get('newPassword').errors?.invalidPassword ">
                    <ul>
                      <li>Password should have minimum 8 characters.</li>
                      <li>At least 1 uppercase letter 1 lowercase letter and 1 number</li>
                    </ul>  
                </span>
              </div>
              <div class="form-group mb-4">
                <input type="password" class="form-control" placeholder="Enter confirm password" formControlName="conNewPassword">
                <span class="text-danger"
                *ngIf="(changPasswordForm.get('conNewPassword').touched || submitted)&& changPasswordForm.get('conNewPassword').errors?.required">
                - Confirm Password is required <br>
                </span>
                <span class="text-danger"
                    *ngIf="changPasswordForm.get('conNewPassword').touched && changPasswordForm.get('conNewPassword').hasError('matching')">
                    - Passwords does not match
                </span>
              </div>
              <button href="#" class="btn btn-light  px-1 btn-block Btn">Update</button>
              <a class="float-right" routerLink="/sign-in">Back to Login page</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>