<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com">

  <title>About Us</title>
</head>
<body>
  <app-header></app-header>
  <div class="page-banner home-banner">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-6 py-3 wow fadeInUp">
          <h1 class="mb-4 home-title" style="color:rgb(138, 39, 39)">Online application tests</h1>
          <p class="text-lg mb-5">that hires freelancer developers and receives customer requests to build websites, applications and other technical requirements.
                       
            This site was built to build some ready-made templates to interview freelancer developers</p>

        </div>
        <div class="col-lg-6 py-3 wow zoomIn">
          <div class="img-place">
            <img src="assets/images/signin-image.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>   
  <!-- Back to top button -->
  <div class="back-to-top"></div>
</body>
</html>