<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com">

  <title>Interview Questions</title>
</head>
<body>
  <app-header></app-header>
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="page-banner home-banner">
          <div class="h-100">
            <ul *ngFor='let question of   questionsArray'>
              <li><h3 class="questions">{{question}}</h3></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>

</body>
</html>