.logo{
    height: 100px;
    width: 130px;
    margin: 10px;
}
/* .list-foalt{
    float: left;
} */
.signBtn{
    width: 6em;
    /* padding: 0.5em; */
    margin: 0.5em;
    background-color: #28844B;
    color: white;
}
.icone-container{
    padding-left: 2em;
}
.icone{
    margin-right: -5em;
    margin-left: 3em;
    height: 3em;
    width: 3em;
}
.menu-padding{
width:50%
}