.img{
    margin-top: 0;
    margin-bottom: 3em;
}
.img-1{
    margin-left: 3em;
    margin-bottom: 5em;
}
.title-1{
    margin-left: 5.5em;
}
.text-1{
    margin-left: 10em;
}
.text-justify{
    text-align: justify;
}